<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <import resource="genericContext.xml"/>

    <!-- Déclarer les beans dans genericContext.xml -->
    <!-- Seul les beans nécessitant un accès réel doivent être déclarer ici -->
    <!-- (persistance, serveur distant...) -->

    <bean class="fr.scrumstory.config.MongoConfig"/>


</beans>
