body {
  header {
    background: MediumSlateBlue;
height: 25px;
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
      z-index: 100;
      text-align: center;
  }

  footer {
    text-align: center;
    font-size: 0.6em;

  }
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
  font-family: Verdana;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
  color: white;

}

#profile {
  font-family: Verdana;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.75em;
  color: white;
  text-align: right;

  a {
    color: white;
  }
}

#masterMenu {
    background: lighten(MediumSlateBlue, 25);

//    position: relative;
//    position: absolute;
//    top: 0px;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    font-size: 0.65em;
//    color: white;
//    text-align: left;
    text-align: center;

    a {
        color: white;
    }

}